<!-- Question form -->
<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <!-- Title and content-->
    <%= f.input :title, required: false, autofocus: true, :as => :string  %>
    <%= f.input :question_text, required: false, input_html: {class: "tinymce", rows: 16} %>
     <br />
     <!-- Tags --> 
    <%= f.input :tag_list, label: "Tags", placeholder: "tags, separated, by, commas", input_html: {value: f.object.tag_list.to_s}, required: false %>
    <br />
    <!--File upload  partial -->
    <%= render "shared/file_upload_form", :f => f, :attached_file => @question.get_spread_sheet_upload %>
  </div>
<br  />
 <!--content preview notice -->
<%= render "shared/tinymce_preview_notice"%>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

