<!--Parital that shows the question and relevant content. Makes it easily portable to other places in the app. -->
<div class="row">
  <div class="small-12 columns">
    <h3><%= question.title %></h3>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    &nbsp;
  </div>
  <div class="small-8 columns">
    <%= question.question_text.html_safe %>
    <br />
    <%= spread_sheet_upload_download_display_helper(question) %>
  </div>
  <div class="small-3 columns">
    <!-- Information about the post/ poster -->
    <div class="panel">
    Asked: <%= question.created_at.strftime("%m/%d/%y %H:%M") %>
    <br />
    Asker: <%= link_to question.user.output_name, user_path(question.user.username) %>
    <br />
    Views: <%= question.views %>
    <br />
   
</div>
<!-- Management links -->
     <%= link_to 'Edit', edit_question_path(question) if policy(question).edit? %>
     <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } if policy(question).destroy? %>
  </div>
</div>
<!-- For style -->
<div class="row">
  <div class="small-offset-1 small-11 columns">
    <hr />
  </div>
</div>