<!--Index template -->
<%= render 'search/search_bar' %>
<div class="row">
  <div class="small-6 columns">
    <!-- pagination -->
    <%= page_entries_info @questions, :entry_name => t('general.model_names.question') %>
    <%= paginate @questions %>
  </div>
  <div class="small-6 columns" >
    <!-- Filter -->
    <button href="#" data-dropdown="filter" aria-controls="filter" aria-expanded="false" class="small button dropdown" style="float: right;">Filter</button><br>
    <ul id="filter" data-dropdown-content class="f-dropdown" aria-hidden="true">
      <li><%= link_to "Newest", questions_path(newest: true, with_tags: params[:with_tags]) %></li>
      <li><%= link_to "Unanswered", questions_path(unanswered: true, with_tags: params[:with_tags]) %></li>
      <li><%= link_to "Recently Updated", questions_path(recently_updated: true, with_tags: params[:with_tags]) %></li>
    </ul>
  </div>
</div>

<% if policy(@questions).index? %>
<%= render "questions/index_pages/index_admin" %>
<% else %>
<%= render "questions/index_pages/index_public" %>
<% end %>
<%= paginate @questions %>
