<!--Shows a question along with all answers and comments. -->

<%= provide(:title, t('page_titles.models.question.show', title: @question.title)) %>
<div class="row">
  <div class="small-12 columns">
    <div class="row">
      <div class="small-12 columns">
        <!-- Shows the question -->
        <%= render "show_question", :question => @question %>

      </div>
    </div>
    <!--Shows questions comments and a new comment for the question-->
<%= render @comments_q.default_order %>  
<%= render "comments/new_comment", :passed => @question %>
<!--   Start Answers   -->
     <div class="row">
      <div class="small-offset-1 small-11 columns">
        <h4><%= pluralize(@answers.count, t('general.model_names.answer').capitalize) %></h4>
      </div>
    </div>
    <!-- Shows all answers and their comments (in the answers partial -->
<%= render @answers %>

<br />
<hr />
<!-- new answer for this question -->
<label>Compose an Answer</label>
    <%= render 'answers/new_answer', :question => @question %>

  </div>
</div>