    <p>
        Welcome to <%= I18n.t('site_name') %>, <%= @user.output_name %>
    </p>
    <p>
      You have successfully confirmed your email so your account is now fully activated. Enjoy!
    </p>
    <p>
      To login to the site, just follow this link: <%= @login_url %>.
    </p>
    <!--<p>-->
    <!--  For a tour of the site and how it works follow this link: @tutorial_url.-->
    <!--</p>-->
    <p>
        Thanks for joining and have a great day!
    </p>
    <p>
        <%= I18n.t('site_name') %>
    </p>