<!-- The partial that displays a comment. Might have link to delete comment if owner. -->
<div class="row"  id="comment-<%= comment.id %>">
  <div class="small-offset-2 small-10 columns"> 
    
    <%= comment.content_html %> - <%= link_to comment.user.output_name, user_path(comment.user.username) %> <%= formatted_created_at(comment) %>
    <br /><br />
         <%= link_to "Delete", comment, method: :delete, data: { confirm: 'Are you sure?' } if policy(comment).destroy? %> 
  </div>
</div>

<div class="row">
  <div class="small-offset-2 small-10 columns">
      <hr />
  </div>
</div>