<!--New comment form -->
<div class="row">
  <div class="small-offset-2 small-10 columns">
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <!-- Give unique anchor so that this location can be linked to. -->
        <a href="#panel_<%= passed.class.name %><%= passed.id %>">Add Comment</a>
        <div id="panel_<%= passed.class.name %><%= passed.id %>" class="content">

    <%= simple_form_for(@comment) do |f| %>

      <div class="form-inputs">
        <div class="row">
  <div class="small-11 columns">
    <!-- Input for comment, with conditionals that will determine if the user can post. -->
    <%= f.input :content, required: false, label: false, placeholder: comment_placeholder_helper(@comment),  :disabled => !policy(@comment).can_post? %>
          </div>
            <div class="small-1 columns">
              <span data-tooltip aria-haspopup="true" class="has-tip left" title="<%= t("general.comment.post_info") %>"><h4>?</h4></span>
          </div>
        </div>
        <!-- Hidden fields for the comments 'commentable' parent. -->
        <%= f.input :commentable_id, as: :hidden,  :input_html => { :value => passed.id } %>
        <%= f.input :commentable_type,  as: :hidden, :input_html => { :value => passed.class.name } %>
      </div>
       <div class="form-actions">
         <!-- Button with conditionals on how it will appear (helper method) -->
         <%= f.button :submit,  "Post Comment", class: "tiny "+ button_class_helper(@comment)%>
      </div>
    <% end %>

        </div>
      </dd>
    </dl>
    <hr />
  </div>
</div>