<!--Search bar partial to display the seatch bar on any page -->
<div class="row">
    <div class="large-12 columns">
      <%= form_tag(results_path, method: "get") do %>
      <div class="row collapse">
        <div class="small-10 columns">
          <%= search_field_tag :search_query, nil, placeholder: 'Search...' %>
        </div>
        <div class="small-2 columns">
          <%= submit_tag "Search", class: "button postfix" %>
        </div>
      </div>
      <% end %>
    </div>
</div>