<!--Results page from a search - shows both questions and answers -->
<%= provide(:title, t('page_titles.search_results')) %>
<%= render 'search_bar' %>
<!-- Pagination info -->
<%= page_entries_info @results, :entry_name => t('general.model_names.search_result') %>
<%= paginate @results%> 
<hr />
<% @results.each do |r| %>
<!-- result display helper  -->
<%= render 'shared/result_display', display_title: display_title_helper(r), display_extra: display_extra_helper(r), display_poster_info: display_poster_info_helper(r) %>

<hr />

<% end %>

<%= paginate @results%>