<html>
  <body>
    <p>Hi pierce777,</p>

<p>We just wanted to let you know that someone has posted a comment to your question. Click <a href="http://localhost:3000/questions/185625534-qqqqqqqqqqqqqqqq">here</a> to view it now.</p>

<p>Have a good day!</p>

<p>Accounting Studies</p>
  </body>
</html>
