<!--Profile show/view page - shows users questions, answers, and other activity as well as summary and other info -->
<% provide(:title, t('page_titles.models.user.show', output_name: @user.output_name)) %>
<div class="row">
  <div class="small-9 columns">
    <h2><%= @user.output_name %></h2>
  </div>
  <div class="small-3 columns">
    <% if policy(@user).edit? %>
    <p><%= link_to "Edit", edit_registration_path(@user) %></p>
    <% end %>
    <% if current_user != nil && current_user != @user %>
    <p>Report</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <!-- display image -->
    <%= avatar_display_helper %>
  </div>
  <div class="large-8 columns">
    <table style="border: none; background-color: transparent;">
<!--    quick info about user    -->
      <tr>
        <td>Questions: <%= @user.questions.count %></td>
        <td>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></td>
      </tr>
      <tr style="background-color: transparent;">
        <td>Answers: <%= @user.answers.count %></td>
        <td></td>
      </tr>
      <tr>
        <td></td> <!-- TODO questions contributed to  contributions uniq by question id (avoid doubel counting of answers and coments on same question)     -->
        <td></td>
      </tr>
    </table>
  </div>
</div>
<br />
<div class="row">
  <div class="small-12 columns">
    <h3>About <%= @user.output_name %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= !@user.user_summary.nil? ? @user.user_summary.html_safe : "Nothing here yet..." %>
  </div>
</div>
<br />
<br />
<!-- Questions, answers and activity tabs -->
<div class="row">
  <div class="small-12 columns">
    <dl class="tabs" data-tab>
  <dd class="active"><a href="#questions_panel">Questions</a></dd>
  <dd><a href="#answers_panel">Answers</a></dd>
  <dd><a href="#activity_panel">Activity</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="questions_panel">
    <% if @user.questions.count != 0 %>
    <% @user.questions.each_with_index do |q, i| %>
        <div class="row">
          <div class="small-2 columns">
<!--        can put other info here like # of answers or something... not sure yet      -->
          </div>
          <div class="small-10 columns">
            <%= link_to q.title, q %>
          </div>
        </div>
     <div class="row">
       <div class="small-12 columns">
            <hr />
       </div>
    </div>
      <% end %>
    <% else %>
    <p>This user has not asked any questions yet.</p>
    <% end %>
  </div>
  <div class="content" id="answers_panel">
    <% if @user.answers.count != 0 %>
    <% @user.answers.includes(:question).each_with_index do |a, i| %>
        <div class="row">
          <div class="small-2 columns">
<!--        can put other info here like # of upvotes or something... not sure yet      -->
          </div>
          <div class="small-10 columns">
            <%= link_to a.question.title, question_path(a.question, anchor: "answer-#{a.id}") %>
          </div>
        </div>
     <div class="row">
       <div class="small-12 columns">
            <hr />
       </div>
    </div>
      <% end %>
    <% else %>
    <p>This user has not answered any questions yet.</p>
    <% end %>
  </div>
  <div class="content" id="activity_panel">
    <p>No user activity yet</p>
  </div>
</div>
  </div>
</div>
