<div class="row">
  <h2>Change your password</h2>
    <div class="large-6 columns">
   
      <div class="signup-panel">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, label: "New password:", required: false, autofocus: true %>
    <%= f.input :password_confirmation, label: "Confirm your new password:", required: false %>
  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>


      </div>
  </div>
</div>