
<div class="row">
  <h2>Forgot your password?</h2>
    <div class="large-6 columns">
   
      <div class="signup-panel">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, label: "Please enter your account email address: ", placeholder: "Email address" %>
  </div>
        <br />
  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
      </div>
  </div>
</div>