 <!--Pretty user facing index. Used partials to display most content 
 but will generally show the queston title, some content (preview) and post info. -->
 
 <hr />
    <% @questions.each do |question| %>
      <%= render "shared/result_display", display_title: "<strong>#{link_to question.title, question}</strong>
      <br />#{truncate_html question.question_text, length: t('general.char_display.question')}".html_safe,
      display_extra: question_tag_display_helper(question), display_poster_info: question_display_poster_info_helper(question) %>
      <hr />
    <% end %>

<br>



