<!--Shared partial that is used to create a file upload form and show the current uploaded form if exists-->
<div class="row">
    <div class="small-6 large-4 columns">
      <!-- upload new file-->
         <%= file_upload_form_helper(f, attached_file) %>
    </div>
    <div class="small-6 large-8 columns">
      <!--see previously uploaded file -->
        <% if !attached_file.nil? && !attached_file.new_record? %>
          <strong>
          Current file: <%= download_file_with_icon_helper(attached_file.sheet_file_name, attached_file.sheet.url) %> 
            <%= f.simple_fields_for :spread_sheet_upload do |ds| %>
            <%= ds.input :_destroy, label: "Delete Current File?", as: :boolean %>
            <% end %>
          </strong>
        <% end %>
    </div>
</div>