<!-- organizational template for results display. This is also used in the questions index. -->
<div class="row">
  <div class="large-2 columns">
    <!--unused at the moment -->
    &nbsp;
  </div>
  <div class="small-8 large-6 columns">
    <%= display_title %>
    <%= display_extra %>
  </div>
  <div class="small-4 large-4 columns">
    <%= display_poster_info %>
  </div>
</div>