<!--Footer of application template -->
<div class="row">
    <div class="large-12 columns">
         <hr />
         <br />
        <%= link_to "Home", root_path %> &nbsp;
        <%= link_to "All Questions", root_path %> &nbsp;
    </div>
</div>


<!--Debug info for Development -->
<%= debug(params) if Rails.env.development? %>