<!-- Flash displayer for application template. This partial handles all the flash[*] messages and formats them nicely. -->
 <% flash.each do |message_type, message| %>
        <div  data-alert id="<%= message_type %>_1" class="<%= flash_class(message_type) %>" tabindex="0" aria-live="assertive" role="dialogalert"><%= message %>
        <a href="#" class="close">&times;</a>
          </div>
      <% end %>



