   <!-- HR for to seperate from anything above the answer partial. -->
  <div class="row">
    <div class="small-offset-1 small-11 columns"> 
      <hr />
    </div>
  </div>
<!-- Create anchor tag for partial (for easier linking) -->
<a href="#answer-<%= answer.id %>"></a>
<div class="row"  id="answer-<%= answer.id %>">
  <div class="small-1 columns"> 
  <!-- Need this cause if no content in column others move into the column. -->
  &nbsp; 
  <!-- If answer marked correct show big checkmark to signify it. -->
    <%= answer_correct_checkmark_display_helper(answer) %>
  </div>
  <div class="small-8 columns"> 
  <!-- Displays the content of the answer and associated spread sheet upload if has one -->
    <%= answer.answer_text.html_safe %> 
    
    <%= spread_sheet_upload_download_display_helper(answer) %> 
  </div>
  
  <div class="small-3 columns">
    <!-- This is the side column it shows the answers poster info (like date and who) as well as has links for edit/delete/report. -->
    <%= answer_poster_info_question_show(answer) %>

    <%= link_to "Edit", edit_answer_path(answer)  if policy(answer).edit? %> 
  
    <%= link_to "Delete", answer, method: :delete, data: { confirm: 'Are you sure?' }  if policy(answer).destroy?%>
    
    <br />
    <!-- If the question owner is logged in then they get a form to choose the correct answer. -->
    <%= answer_mark_answer_correct_form_helper(answer, @question) %>
  </div>
</div>
<div class="row">
  <div class="small-offset-1 small-11 columns"> 
    <hr />
  </div>
</div>

<!-- Show the answers comments and create a new comment form -->
 <%= render answer.comments.default_order %>
 <%= render "comments/new_comment", :passed => answer %>
