<!-- Form for new or editing answer. -->
<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
      <!-- Answer text input field. This field will be enabled or disabled depending on if one can post or not. -->
    <%= f.input :answer_text, required: false, label: false, placeholder: answer_input_text_helper(@answer),  :disabled => !policy(@answer).can_post?, input_html: {class: answer_text_box_helper(@answer), rows: 15} %>
       <!-- Hidden Question ID field that will make sure the answer is linked to the correct question. -->
    <%= f.input :question_id, as: :hidden,  :input_html => { :value => question.id } %>
    <!-- Upload file helper -->
    <%= render "shared/file_upload_form", :f => f, :attached_file => @answer.get_spread_sheet_upload%>
  </div>
<br />
<!-- Preview notice for users to know how to see what their answer looks like before they post. -->
<%= render "shared/tinymce_preview_notice" %>
<!-- Submit button motified to whether is second/ more post for user and if can post or not. -->
   <div class="form-actions">
     <% if policy(@answer).second_post? %>
     <%= f.button :submit, data: {confirm: t('general.amswer.second_post')} %>
     <% else %>
      <%= f.button :submit, class: "button "+button_class_helper(@answer) %>
     <% end %>
  </div>
<% end %>