<!--Full edit page with title, show of the question being edited and the form for the answer. -->
<%= provide(:title, t('page_titles.models.general.edit', model: @answer.class.to_s)) %>
<%= render "questions/show_question", :question => @answer.question %>

<label>Edit Answer</label>
<%= render 'answers/form', :question => @answer.question %>