<!--Full new form for if there is an error in first submit. -->
<%= provide(:title, t("page_titles.models.general.new", model: @answer.class.to_s)) %>
<!-- Show the question and form for the answer. -->
<%= render "questions/show_question", :question => @answer.question %>

<label>New Answer</label>
<%= render 'answers/form', :question => @answer.question %>