<!--Index for tags - can filter and show info as tag cloud -->
<%= provide(:title, t('page_titles.models.tag.index')) %>
<h1>All Tags</h1>
<div class="row">
    <div class="large-8 columns">
        <p><%= t('general.tags.top_tags_info')%></p>
        <!--Pagination -->
        <%= page_entries_info @tags, :entry_name => t('general.model_names.tag') %>
    </div>
    <div class="large-4 columns">
        <!-- filter -->
        <button href="#" data-dropdown="tag_sort" aria-controls="tag_sort" aria-expanded="false" class="tiny button dropdown">Filter</button><br>
            <ul id="tag_sort" data-dropdown-content class="f-dropdown" aria-hidden="true">
              <li><%= link_to "Most Popular", tags_path(tag_cloud_popular: true) %></li>
              <li><%= link_to "Newest", tags_path(tag_cloud_newest: true) %></li>
            </ul>
    </div>
</div>

<%= paginate @tags%> 
<br />
<%= tag_cloud_display_helper(@tags).html_safe %>
