  
<div class="row"> 

    <div  class="large-4 columns ">
      &nbsp;
      </div>
   
    <div class="large-4 columns">
   <h2>Log In</h2>
      <div class="signup-panel">
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
     <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <%= f.input :login, required: false, autofocus: true, label: false, placeholder: 'Email or username' %>
               </div>
          </div>
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              <%= f.input :password, required: false, label: false, placeholder: "Password" %>
                </div>
          </div>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
</div>
  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
      </div>
    <div  class="large-4 columns">
      &nbsp;
      </div>
</div>


