<p>Hi <%= @user.output_name%>,</p>

<p>We just wanted to let you know that someone has posted a comment to your <%= @post.class.to_s.downcase %>.</p>

<p><%= link_to 'View it here!', @link %></p>

<p>Have a good day!</p>

<p><%= t('site_name')%></p>