<p>Hi <%= @user.output_name%>,</p>

<p>We just wanted to let you know that someone has posted an answer to your question.</p>

<p><%= link_to 'View it here!', @question %></p>

<p>Have a good day!</p>

<p><%= t('site_name')%></p>