$white_c       : #FFFFFF;
$ghost_c       : #FAFAFA;
$snow_c        : #F9F9F9;
$vapor_c       : #F6F6F6;
$white-smoke_c : #F5F5F5;
$silver_c      : #EFEFEF;
$smoke_c       : #EEEEEE;
$gainsboro_c   : #DDDDDD;
$iron_c        : #CCCCCC;
$base_c        : #AAAAAA;
$aluminum_c    : #999999;
$jumbo_c       : #888888;
$monsoon_c     : #777777;
$steel_c       : #666666;
$charcoal_c    : #555555;
$tuatara_c     : #444444;
$oil_c         : #333333;
$jet_c         : #222222;
$black_c       : #000000;

// Extra colors
$dark_purple_c : #666699;
$blood_red_c   : #b30000;
$red_gray_c    : #ac3a3a;
$link_blue_c   : #2A5DB0;

// Extra options
$default_darkness: -20%;
$default_lightness: 20%;


// Layout color scheme
$primary-color_c: $red_gray_c; // main color used for all major layout items
$main_body_background_c: $ghost_c; // not in use currently
$secondary-color_c: #e7e7e7;
$alert-color_c: #f04124;
$success-color_c: #43AC6A;
$warning-color_c: #f08a24;
$info-color_c: #a0d3e8;




// Old colors
// $primary-color_c: #008CBA;
// $secondary-color_c: #e7e7e7;
// $alert-color_c: #f04124;
// $success-color_c: #43AC6A;
// $warning-color_c: #f08a24;
// $info-color_c: #a0d3e8;