/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 *= require 'custom_formatting'


 */

/* veritical line used to help seperate the log in page from home and sign in as X areas. */
.verticalLine { 
    border-right: solid #000000;
}

/* Color for form errors*/
.form_error { 
    color: #ff0000;
}

/* Helper class to left align text. */
.left_align {
  text-align: left;
}

/* Helper class to right align text. */
.right_align{
  text-align: right;
}
