// // General site formatting. Some auto generated.
// Also contains overrides for other global styles (foundation)
@import "global_vars";

// body {
//   background-color: #fff; // white
//   color: #333; // gray
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

// pre {
//   background-color: #eee; // light gray
//   padding: 10px;
//   font-size: 11px;
// }

// main body background - doesnt look good
// #main_body {
//   background: $main_body_background_c;
// }


// tag text styles
.label a {
  color: $white_c; // white
  &:visited {
    color: $white_c; // dark gray
  }
  &:hover {
    color: $silver_c; // light gray

  }
}

// needed to adjust hover color of topbar dropdown links
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
    background: scale-color($primary-color_c, $lightness: $default_darkness);
  }
  
  
// Tiny MCE styles
// Override default foundation styles  and add own Tinymce styling to match theme
div.mce-btn {
  button {
    background-color: #f0f0f0;
  }
}
.mce-menu-item:hover, .mce-menu-item.mce-selected, .mce-menu-item:focus {
  background-color: scale-color($primary-color_c, $lightness: $default_lightness+20%) !important;
  
}
.mce-menu-item.mce-disabled:hover {
    background-color: scale-color($primary-color_c, $lightness: $default_lightness+40%) !important;
  }


.mce-grid-border a:hover, .mce-grid-border a.mce-active {
  border-color: $primary-color_c !important;
  background: scale-color($primary-color_c, $lightness: $default_lightness+10%) !important;
}

// Link styles.
// a {
//   color: $black_c; // black
//   &:visited {
//     color: $oil_c; // dark gray.light black
//   }
//   &:hover {
//     color: $steel_c; // medium gray

//   }
// }



// div {
//   &.field, &.actions {
//     margin-bottom: 10px;
//   }
// }

// #notice {
//   color: green;
// }

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

// #error_explanation {
//   width: 450px;
//   border: 2px solid red;
//   padding: 7px;
//   padding-bottom: 0;
//   margin-bottom: 20px;
//   background-color: #f0f0f0;
//   h2 {
//     text-align: left;
//     font-weight: bold;
//     padding: 5px 5px 5px 15px;
//     font-size: 12px;
//     margin: -7px;
//     margin-bottom: 0px;
//     background-color: #c00;
//     color: #fff;
//   }
//   ul li {
//     font-size: 12px;
//     list-style: square;
//   }
// }
