// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Formats question tags results from search to align left.
.question_results_tags{
  float: left;
}

// Formats question poster info to align left.
.question_results_asked{
  float: right;
}