// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Font sizes for tag cloud. The more instances of something the larger the text size.
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.5em; }
.css3 { font-size: 2.0em; }
.css4 { font-size: 2.5em; }