<html>
  <body>
        <p>
        Welcome to Accounting Studies, pierce777
    </p>
    <p>
      You have successfully confirmed your email so your account is now fully activated. Enjoy!
    </p>
    <p>
      To login to the site, just follow this link: http://localhost:3000/users/sign_in.
    </p>
    <!--<p>-->
    <!--  For a tour of the site and how it works follow this link: @tutorial_url.-->
    <!--</p>-->
    <p>
        Thanks for joining and have a great day!
    </p>
    <p>
        Accounting Studies
    </p>
  </body>
</html>
