<!DOCTYPE html>
<!-- Application template -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Accounting Studies" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
     <%= render "layouts/app_layout/menu_bar" %>
    <div class="row">
        <div class="large-10 columns" id="main_body">
       <br />
        <%= render "layouts/app_layout/notification" %>
        <!-- Where variable content goes. -->
        <%= yield %>
        </div>
        <div class="large-2 columns">
          <br />
          <p><img src="http://placehold.it/300x440&text=[ad]"/></p>
          <p><img src="http://placehold.it/300x540&text=[ad]"/></p>
        </div>
      </div>
    <%= render 'layouts/app_layout/footer' %>
    <%= javascript_include_tag "application" %>
    
    <!-- Needed this script tag for tiny mce. Will not display unless a text area has 'tinymce' class -->
 <script>   
      //<![CDATA[
      tinyMCE.init({
      selector: "textarea.tinymce",
      browser_spellcheck: true,
      toolbar1: "undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright | bullist numlist outdent indent | link unlink | preview | TChart JournalEntry",
      plugins: "table,wordcount,searchreplace,preview,link,hr,autolink,textcolor,colorpicker",
        setup : function(tc) {
        // Add a custom button
        tc.addButton('TChart', {
            title : 'T Chart',
            image : "<%= asset_path("pencil2.png")%>",
            onclick : function() {
                // Add you own code to execute something on click
                // Sets TChart button
                tc.focus();
              tc.selection.setContent("<table style='border-collapse: collapse; width: 200px; height: 100px;'><tr ><td colspan='2' style='border-bottom: 1px solid black;'><center></center></td></tr><tr><td style='border-right: 1px solid black;'></td><td ></td></tr><tr><td style='border-right: 1px solid black;'></td><td></td></tr><tr><td style='border-right: 1px solid black;'></td><td></td></tr></table>");
            }
        });
      
    
        
           tc.addButton('JournalEntry', {
            title : 'Journal Entry',
             image : "<%= asset_path("menu.png")%>",
            onclick : function() {
                // Add you own code to execute something on click
                // Sets JournalEntry button
                tc.focus();
              tc.selection.setContent("<table style='border-collapse:collapse;width:280px;height:100px;vertical-align: top;'><tr><td style='border:1px solid black;width:180px;'></td><td style='border:1px solid black'></td><td style='border:1px solid black'></td></tr><tr><td style='border:1px solid black;width:180px;'></td><td style='border:1px solid black'></td><td style='border:1px solid black'></td></tr><tr><td style='border:1px solid black;width:180px;'></td><td style='border:1px solid black'></td><td style='border:1px solid black'></td></tr><tr><td style='border:1px solid black;width:180px;'></td><td style='border:1px solid black'></td><td style='border:1px solid black'></td></tr></table>");
            }
        });
         }
      });
      //]]>
    </script>
  </body>
</html>