<!--User profile edit page -->
<%= provide(:title, t('page_titles.models.user.edit')) %>
<div class="row">
 
  <div class="small-offset-1 small-11 columns">
     <h2>Edit Account</h2>
    
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
     <div class="row">
       <div class="small-5 columns">
         <%= f.input :username, required: false %>
      </div>
    </div>
    
    <div class="row">
                <div class="small-5 columns">
                  <%= f.input :email %>
      </div>
    </div>

    <div class="row">
                <div class="small-5 columns">
                  <%= profile_avatar_helper(resource, f) %> 
                 
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <div class="row">
      <div class="small-5 columns">
        <%= f.input :first_name %>
      </div>
    </div>
    <div class="row">
       <div class="small-5 columns">
         <%= f.input :last_name %>
      </div>
    </div>
    <!-- select preferred name -->
    <div class="row">
       <div class="small-5 columns">
         <%= f.input :pref_name, label: "Public Name" do %>
         <%= f.select :pref_name, [["Username", "username"], ["Real Name (First + Last)", "real"]] %>
         <% end %>
      </div>
      <div class="small-7 columns">
        <br />
        <span data-tooltip aria-haspopup="true" class="has-tip left" title="You can chose to have others see your username or your real name on public posts (Questions, Answers, Etc.). First and Last name must be filled in for this option to be valid."><h4>?</h4></span>
      </div>
    </div>
    <!-- user summary  - tiny mce - sanitized -->
    <div class="row">
      <div class="small-10 columns">
        <%= f.input :user_summary, input_html: {class: "tinymce", rows: 15} %>
      </div>
    </div>
    <br />
    <!-- Change password -->
    <div class="row">
      <div class="small-5 columns">
        <dl class="accordion" data-accordion>
          <dd class="accordion-navigation">
            <a href="#panel_password"><h5 class="tiny button">Change Password</h5></a>
            <div id="panel_password" class="content">

              <%= f.input :password, label: "New Password:", autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
<br />
        <%= f.input :password_confirmation, label: "Confirm New Password:",  required: false %>

              </div>
          </dd>
        </dl>
      </div>
    </div>
    
    <br /><br />
    <!--ATM require password for any profile changes - -is a business site afterall -->
              <div class="row">
            <div class="small-5 columns">
              <%= f.input :current_password, label: "Enter current password to confirm changes", required: false %>
               </div>
          </div>
                 
  </div>
<br />
  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
    
    
  </div>
</div>