<!--Sign up page - has sign up using our service and will have links for login via Oauth -->
<%= provide(:title, t('page_titles.models.user.new')) %>
<div class="row">
   <div  class="large-4 columns ">
      &nbsp;
      </div>
    <div class="large-4 columns">
   <h2><%= I18n.t('page_titles.models.user.new') %></h2>
      <div class="signup-panel">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row collapse">
            <div class="small-2 columns">
              <span class="prefix"><i class="fi-mail"></i></span>
            </div>
            <div class="small-10  columns">
              <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email address' %>
               </div>

          </div>
     <div class="row collapse">
    <div class="small-2 columns">
              <span class="prefix"><i class="fi-torso"></i></span>
            </div>
            <div class="small-10  columns">
              <%= f.input :username, required: true, autofocus: true, label: false, placeholder: 'Username' %>
               </div>

          </div>
    
          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable), label: false, placeholder: "Password"  %>
                 </div>

          </div>
     <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-checkbox"></i></span>
            </div>
            <div class="small-10 columns ">
              <%= f.input :password_confirmation, required: true, label: false, placeholder: "Confirm Password"  %>
       </div>

    </div>


  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
        </div>
<% end %>


<%= render "devise/shared/links" %>
      </div>
      
  </div>
   <div  class="large-4 columns ">
      &nbsp;
      </div>
</div>
